<p>alta works!</p>

<form class="example-form" [formGroup]="form" (ngSubmit)="nuevoUsuario()">
    <mat-form-field class="example-full-width" appearance="fill">
      <mat-label>ID</mat-label>
      <input type="number" matInput formControlName="id" placeholder="ID">
    </mat-form-field>

    <mat-form-field class="example-full-width" appearance="fill">
      <mat-label>Name</mat-label>
      <input type="input" matInput formControlName="name" placeholder="Name" required>
    </mat-form-field>

    <mat-form-field class="example-full-width" appearance="fill">
      <mat-label>Email</mat-label>
      <input type="email" matInput formControlName="email" placeholder="Email" required>
    </mat-form-field>

    <mat-form-field class="example-full-width" appearance="fill">
      <mat-label>Phone</mat-label>
      <input type="text" matInput formControlName="phone" placeholder="Phone" required>
    </mat-form-field>

    <button mat-raised-button type="submit">ENVIAR</button>
  </form>
