<div style="display: flex;">
  <table mat-table [dataSource]="listUsers" class="mat-elevation-z8">

   <ng-container matColumnDef="id">
     <th mat-header-cell *matHeaderCellDef> ID </th>
     <td mat-cell *matCellDef="let element"> {{element.id}} </td>
    </ng-container>

    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef> Name </th>
      <td mat-cell *matCellDef="let element"> {{element.name}} </td>
    </ng-container>

    <ng-container matColumnDef="email">
      <th mat-header-cell *matHeaderCellDef> Email </th>
      <td mat-cell *matCellDef="let element"> {{element.email}} </td>
    </ng-container>

    <ng-container matColumnDef="phone">
      <th mat-header-cell *matHeaderCellDef> Phone </th>
     <td mat-cell *matCellDef="let element"> {{element.phone}} </td>
    </ng-container>

    <ng-container matColumnDef="config">
      <th mat-header-cell *matHeaderCellDef> Config </th>
     <td mat-cell *matCellDef="let element">
       <button mat-icon-button>
         <mat-icon (click)="goToEdit(element.id)">edit</mat-icon>
        </button>
        <button mat-icon-button>
          <mat-icon (click)="deleteUser(element.id)">delete</mat-icon>
        </button>
        <button mat-icon-button>
          <mat-icon (click)="verDetails(element)">visibility</mat-icon>
        </button>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
</div>

 <app-details [user]="userEmitter" (salida)="$event"></app-details>


 